<%- include('./element/header') %>

    <% if(error) { %>
        <h3><%= error %></h3>
    <% } %>

    <form method="post">
        <input type="text" name="uname" id="">
        <input type="text" name="upass" id="">
        <button type="submit">Login</button>
    </form>

</body>
</html>