<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <% if(error) { %>
        <h3><%= error %></h3>
    <% } %>

    <form method="post">
        <input type="text" name="uname" id="">
        <input type="text" name="upass" id="">
        <button type="submit">Login</button>
    </form>

    <a href="/">Back to Home</a>
</body>
</html>