<a href="/">home</a>
    <a href="/profiles">Users</a>
    <a href="/books">Books</a>
    <a href="/borrowings">Borrowings</a>
    <a href="/borrowings/late">Late Borrowings</a>
    <a href="/borrowings/returned">Returned Borrowings</a>
    <a href="/logout">Logout</a>